@{
    ViewData["Title"] = "Home Page";
}
<html @*id="msgActivity"*@>
<head>
<meta name="viewport" content="width=device-width"/>
@*<link href="~/css/chatApp.css" rel="stylesheet"/>*@
</head>
<body>
<div class="text-center">
    <h1 class="display-4">Welcome To The Chat Room</h1>
</div>

<div id="container">
    <div id="userinfo" class="row">
        <label for="username">Enter your user name</label>
        <input type="text" class="form-control" id="username" name="username" autocomplete="off"/>
        <button type="button" style="margin-top:20px;" class="btn btn-primary" onclick="SetUsername();">Enter the chat room</button>
    </div>
    <div id="messagearea" class="row" style="display:none;">
        <div>Joined as:<b><span id="username1">Not Set</span></b></div>
        <hr/>
        <div id="msgPanel" class="row"
               <div class="col-6">
                   <ul id="messagesList"></ul>
                   <ul id="pvtMsgList"></ul>
                   <ul id="typing"></ul>
                   <ul id="seen"></ul>
                   <ul id="lastSeen"></ul>
               </div>
        </div>
         <hr/>
         <div>
            <input class="btn btn-outline-primary" style="margin:10px; font-weight:bold;" type="button" id="sendButton" value="Send Message"/>
            <input class="btn btn-outline-warning" style="margin:10px; type="text" id="InputChatMessage" autocomplete="off" placeholder="Type a message..." />
          </div>
          <div>
                <input class="btn btn-outline-secondary" style="margin:10px; font-weight:bold;" type="button" id="sendPvtButton" value="Send Privately" />
                <input class="btn btn-outline-primary text-bold" style="margin:10px; type="text" id="InputPvtChatMessage" autocomplete="off" placeholder="Type a message..." />
        </div>
    </div>
</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/ChatApp.js"></script>
</body>
</html>