@{
    ViewData["Title"] = "Home Page";
}
<html @*id="msgActivity"*@>

<head>
<meta name="viewport" content="width=device-width"/>
   <link href="~/css/chatApp.css" rel="stylesheet"/> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" rel="stylesheet"/>
<link href="~/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>

<body>
       <div class="text-center">
        <h1 class="display-4">Welcome To The Chat Room</h1>
           
        </div>
       
    
     <div id="userinfo" class="row">
            <label style="margin-left: 25px;" for="username">Enter your user name</label>
            <input style="margin-left: 25px;" type="text" class="form-control" id="username" name="username" autocomplete="off"/>
            <button type="button" style="margin-top:20px; margin-left: 25px;" class="btn btn-primary" onclick="SetUsername()";>Enter the chat room</button>
           
        </div>

       
    
  

        @* <div>Joined as:<b><span id="username1">Not Set</span></b></div>
    
        <hr/> *@
       
             <div id="chat-container" class="container" style="display: none;">

            <div class="row clearfix">
                <div class="col-lg-12">

                    <div class=" card chat-app">
                        <div class="chat">
                            <div class="chat-header clearfix">
                         
                                <div class="row">
                                    <div class="col-lg-6">
                                          <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                                    </a>



                                        <div class="chat-about" id="messagearea">
                                            <h6 id="username1" class="m-b-0">Aiden Chavez</h6>
                                            <small id="lastSeen">Last seen: Just now</small>
                                            
                                            <ul id="messagesList"></ul>
                                            <p id="typing"></p>
                                            <ul id="pvtMsgList"></ul>
                                            <ul id="seen"></ul>
                                            @* <ul id="lastSeen"></ul> *@
                                        </div>
                                    </div>
                                      @* <div class="col-lg-6 hidden-sm text-right">
                                    <a href="javascript:void(0);" class="btn btn-outline-secondary"><i
                                            class="fa fa-camera"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-outline-primary"><i
                                            class="fa fa-image"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-outline-info"><i
                                            class="fa fa-cogs"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-outline-warning"><i
                                            class="fa fa-question"></i></a>
                                </div> *@


                                </div>
                              
                            </div>



                            <div class="chat-message clearfix">
                                <div class="input-group mb-0">
                                    <input type="text" class="form-control" id="InputChatMessage"
                                        placeholder="Enter text here...">
                                    <div class="input-group-prepend">
                                        <button class="input-group-text" id="sendButton"><i
                                                class="fa fa-send"></i></button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.js"></script>
</body>

</html>